{% extends 'base.html.twig' %}
{# This will be a comment #}
{% block title %}ROLE = DIRECTEUR GENERAL, TOUTE VIEW POSSIBLE{% endblock %}
{# Astuce :
 - LA VUE NE CONCERNE QUE LE DR ET SES SITES
 - DONC LE DR est la cle primaire, ses sites doivent être relié à lui
 - site = $siteRepository->findby(
            ['user' => $this->getUser()],
        );
        - boucle, modal reprends info de la bdd
- ATTENTION : oublie pas vue DIFFERENTE ENTRE DG ET DR
#}
{% block body %}

<h2 class="text-center mt-5 mb-5 text-danger">Liste des sites avec leurs forces et faiblesses :</h2>

<div class="w-75 mx-auto">
<table class="table table-bordered mb-5 mt-5">
  <thead class="bg-dark text-white">
    <tr>
      <th scope="col">Site / D.R</th>
      <th scope="col">Année</th>
      <th scope="col">Forces</th>
      <th scope="col">Faiblesses</th>
      <th scope="col">Opportunités</th>
      <th scope="col">Menaces</th>
      <th scope="col">Détails</th>
    </tr>
  </thead>
<tbody>
    <tr class="bg-light">
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
</tbody>
   
</table>
</div>
</div>

{% endblock %}