<header>
<!-- Page Wrapper -->
<div style="background: url(https://bootstrapious.com/i/snippets/sn-bg-image/bg.jpg); background-size:cover;" class="page-holder bg-cover">

  <div class="container py-5">
    <header class="text-center text-white py-5">
      <h1 class="display-4 font-weight-bold mb-4">Vert Marine Analytics</h1>
      <p class="lead mb-0">Analyses graphiques des différents sites de Vert Marine</p>
      </p>
    </header>

  </div>
</div>
</header>