<h1>Activation de votre compte</h1>
<p>Vous avez crée un compte sur notre site, veuillez cliquer sur le lien ci-dessous pour l'activier</p>

{# Mettre une URL COMPLÈTE car le twig ne prend qu'à partir du slash dans le  path; il ne prend pas le début de l'url donc ça ne marchera pas#}
<p><a href="{{ absolute_url(path('activation', {'token' : token}))}}">Activer mon compte</a></p>